@media(max-width:768px) {
    .figure-caption {
        font-size: .8rem;
    }
    .main-nav .main-logo {
        width: 50%;
    }
    .nav-link.nav-offcanvas {
        padding: 0;
    }
    img.offcanvas-logo {
        width: 50%;
    }
    .offcanvas .offcanvas-body a {
        color: #6c757d;
    }
    .container-fluid {
        padding-right: var(--bs-gutter-x, 1rem);
        padding-left: var(--bs-gutter-x, 1rem);
    }
    .section-product .product-box {
        margin-bottom: 1rem;
        padding: 0 1em;
    }
    .section-article .figure img {
        height: 25vh;
    }
    .section-hero .hero-container {
        padding: 50px 10px;
    }
    .section-hero.section-journal .hero {
        height: 200px;
    }
    .section-hero.section-journal .hero-container h1 {
        font-size: 14px;
    }
    .section-content-detail .content-detail.top,
    .section-content-detail .content-detail.bottom,
    .section-content-detail.section-popnroll .content-detail.top,
    .section-content-detail.section-popnroll .content-detail.bottom {
        margin: unset;
    }
    .section-content-detail .sportify-embed {
        margin-top: 3rem;
    }
    .section-checkout-item table th,
    .section-cart table th {
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
    }
    .section-checkout-item table td,
    .section-cart table td {
        color: rgba(0, 0, 0, 0.6);
        font-size: 12px;
    }
    .section-checkout-item table tbody,
    .section-cart table tbody {
        vertical-align: middle;
    }
    .section-checkout-item table .td-img,
    .section-cart table .td-img {
        width: unset;
    }
    .section-checkout-item .item-image,
    .section-cart .item-image {
        width: 50px;
    }
    .grid-products {
        grid-auto-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 7px;
    }
    footer {
        padding: 50px .75em 45px;
    }
    .owl-carousel .owl-video-wrapper {
        height: 50vh !important;
    }
    .floating-icon {
        display: block;
        position: fixed;
        bottom: 50%;
        right: .5rem;
        z-index: 1;
    }
    .floating-icon button {
        display: block;
    }
    .floating-icon ul li {
        color: #fff;
        background: #f5f5f5;
        padding: 1rem .8rem;
        border-radius: 50%;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
        transition: 0.3s;
    }
    .section-cart table .checkout-item {
        display: block;
    }
}

@media screen and (min-width: 640px) {
    .hero {
        background-position: 50% 0;
        height: 100vh;
    }
}

@media screen and (min-width: 1366px) {
    .hero {
        height: 100vh;
    }
}