/* @font-face {
    
    src: url(../fonts/IbarraRealNova-Medium.ttf);
} */

html,
body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

a {
    text-decoration: unset !important;
}

.container-fluid {
    padding-right: var(--bs-gutter-x, 1.5rem);
    padding-left: var(--bs-gutter-x, 1.5rem);
}


/* =========== Button & Line =========== */

.btn-dark {
    background-color: #181818;
    padding: .375rem 3rem;
    border-radius: 0;
    transition: .3s;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgb(0 0 0 / 40%);
    box-shadow: 0 4px 4px rgb(0 0 0 / 40%);
}

.btn-dark:hover {
    background-color: #FFF;
    color: #181818;
}

.line1 {
    height: 1px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) -2.22%, rgba(0, 0, 0, 0.28102) 16.32%, rgba(0, 0, 0, 0.51) 85.02%, rgba(0, 0, 0, 0) 102.46%);
    margin-top: 1.5rem;
}


/* =========== Offcanvas Cart =========== */

.offcanvas-cart h6 {
    color: rgb(0, 0, 0, 0.6);
    font-weight: bold;
}


/* =========== Navbar =========== */

.main-nav {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    padding: 0;
}

.main-nav .main-logo {
    width: 180%;
}

.add-cart .badge {
    vertical-align: top;
    font-size: 10px;
    border-radius: .5rem;
    padding: 3px 4px;
    line-height: .8;
    margin-left: -10px;
}


/* =========== Breadcrumb & Timezone =========== */

.section-timezone {
    padding: .8rem 0;
    background: #F5F5F5;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
}

.section-timezone .breadcrumb .breadcrumb-item a {
    color: rgb(0, 0, 0, 0.6);
    text-decoration: none;
}


/* =========== Heading =========== */

.main-heading {
    margin-bottom: 1rem;
}

.main-heading p,
.main-heading h1,
.main-heading h3 {
    color: rgba(0, 0, 0, 0.6);
}

.main-heading p {
    font-size: 12px;
    margin-bottom: 0;
}

.main-heading h1 {
    font-size: 26px;
    font-weight: bold;
}

.main-heading h3 {
    font-weight: 400;
}

.store-heading p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    margin-bottom: .5rem;
}

.store-heading h5 {
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
}


/* =========== Hero =========== */

.hero {
    background-position: 50% 50%;
    /* This could be 50% 50%, 0 0, or really anything. The world is your stinky little oyster! */
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    /* Add a slight overlay on our image */
}

.hero:after {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
    bottom: 0;
    content: '';
    left: -2000%;
    position: absolute;
    right: -2000%;
    top: 0;
    z-index: 1;
}

.hero-container {
    box-sizing: border-box;
    height: auto;
    padding: 50px 50px;
    position: relative;
    text-align: start;
    z-index: 2;
}

.hero-container p {
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: .5rem;
}

.hero-title {
    color: white;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 1px;
}


/* =========== Product =========== */

.grid-products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 14px;
    padding-top: 25px;
}

.section-product .product-box {
    /* background: #F5F5F5; */
    padding: 0 2.5em;
    transition: .3s;
    box-shadow: 16px 16px 48px #f5f5f5;
}

.section-product .product-box:hover {
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}

.section-product .product-box .figure-caption a {
    text-decoration: none;
    color: #6c757d;
}

.section-product .product-box .figure-caption a {
    text-decoration: none;
    color: #6c757d;
}

.section-store .figure {
    transition: .5s;
    box-shadow: 16px 16px 48px rgb(0, 0, 0, 0);
}

.section-store .figure:hover {
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}

.section-store .figure .figure-caption h3,
.section-store .figure .figure-caption p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: .6px;
}

.section-store .figure .figure-caption h3 {
    margin-top: .3rem;
    margin-bottom: .1rem;
}

.section-store .figure .figure-caption p {
    font-weight: bold;
}

.section-store .figure .figure-caption span {
    font-size: 12px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 1.5px;
}


/* =========== Article =========== */

.section-article .figure img {
    object-fit: cover;
    height: 50vh;
    width: 100%;
}

.section-article .figure .figure-caption {
    width: 100%;
    font-family: 'Helvetica', 'Arial', sans-serif;
}


/* =========== Journal =========== */

.section-hero.section-journal .hero-container {
    padding: 15px 0 25px 0px;
}

.section-hero.section-journal .hero-container p,
.section-hero.section-journal .hero-container h1 {
    color: rgba(0, 0, 0, 0.6);
}

.section-hero.section-journal .hero-container h1 {
    font-size: 18px;
    font-weight: 700;
}

.section-content-detail .content-detail.top,
.section-content-detail .content-detail.bottom {
    margin: 0 15rem;
}

.section-content-detail.section-popnroll .content-detail.top,
.section-content-detail.section-popnroll .content-detail.bottom {
    margin: 0 5rem;
}

.section-content-detail .content-detail.top p {
    font-size: 1.1em;
    text-align: justify;
    margin-top: 1.25rem;
    color: rgba(0, 0, 0, 0.6);
}

.section-content-detail .content-detail.bottom p {
    font-size: 1.1em;
    text-align: justify;
    margin-top: 1.25rem;
    color: rgba(0, 0, 0, 0.6);
}


/* =========== Product Detail =========== */

.product-detail .product-price p {
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}

.product-detail .feature-select {
    margin-top: 2%;
}

.product-detail .feature-select img {
    float: left;
    max-width: 20%;
    width: 20%;
    cursor: pointer;
    margin-right: 2%;
    border: 2px solid #eee;
    box-sizing: border-box;
}

.product-detail .feature-select img.active {
    border: 2px solid #aaa;
}

.product-detail .product-size span {
    display: inline-block;
    width: 35px;
    border: 1px solid #999;
    text-align: center;
    padding: .2rem;
    text-transform: uppercase;
    cursor: pointer;
}

.product-detail .product-size span.active {
    color: #000;
    background: #aaa;
}

.product-detail .product-size-ordered span {
    text-transform: uppercase;
}

.product-detail table th {
    color: rgb(0, 0, 0, 0.6);
    font-weight: 500;
    font-size: 14px;
}

.product-detail table td {
    color: rgb(0, 0, 0, 0.6);
    font-weight: 500;
    font-size: 14px;
}


/* ========== Pagination ========== */

.pagination .page-link {
    color: rgba(0, 0, 0, 0.6);
}

.pagination .page-link:hover {
    background-color: #f5f5f5;
}

.pagination .page-item.active .page-link {
    background-color: #f5f5f5;
    border-color: #dee2e6;
    color: rgb(0, 0, 0, 0.6);
}


/* ========== Checkout & Shipping ========== */

.section-checkout-item table tbody {
    vertical-align: middle;
}

.section-checkout-item table .checkout-item {
    display: -webkit-inline-box;
}

.section-checkout-item table .checkout-info {
    margin-top: auto;
}

.section-checkout-item table .checkout-info p {
    margin-bottom: .3rem;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.section-checkout-item table .checkout-info .checkout-name {
    font-weight: bold;
    font-size: 14px;
}

.section-checkout-item table td {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

.section-checkout-item table .td-img {
    width: 60%;
}

.section-checkout-item .item-image {
    width: 100px;
}

.section-profile label {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.section-profile .form-control,
.section-profile .form-select {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.section-profile .form-text {
    font-size: 10px;
}

.section-profile .form-control:focus,
.section-profile .form-select:focus {
    border-color: #ced4da;
    outline: 0;
    box-shadow: unset;
}

.section-profile .form-underline,
.section-profile .form-payment {
    border-bottom: 1px solid #ced4da;
    padding: .375rem .75rem;
}

.section-profile .form-underline span,
.section-profile .form-payment span,
.section-profile .order-result span {
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.6) !important;
}

.section-profile .order-result {
    border-bottom: 1px solid #ced4da;
    padding: .375rem .75rem;
}

.section-profile .order-result span {
    padding: .375rem .75rem;
}

.section-profile .img-payment {
    width: 50px;
}

.section-order-success .text-order p {
    color: rgb(0, 0, 0, 0.6);
}

.section-order-success .text-order .item p {
    margin-bottom: .5rem;
}

.section-cart table tbody {
    vertical-align: middle;
}

.section-cart table .checkout-item {
    display: -webkit-inline-box;
}

.section-cart table .checkout-info {
    margin-top: auto;
}

.section-cart table .checkout-info p {
    margin-bottom: .3rem;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.section-cart table .checkout-info .checkout-name {
    font-weight: bold;
    font-size: 14px;
}

.section-cart table td {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

.section-cart table .td-img {
    width: 60%;
}

.section-cart .item-image {
    width: 100px;
}


/* ========== Footer ======= */

footer {
    background-color: #fff;
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); */
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 100px 50px 45px;
}

footer .footer-left p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    margin: 0;
}

footer .footer-links {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

footer .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    list-style: none;
    color: inherit;
    margin-left: .5rem;
    transition: ease .25s;
}

footer .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

footer .footer-right a {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #000;
    border-radius: 50%;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    line-height: 25px;
    margin-left: 2px;
    transition: all .25s;
}

footer .footer-right a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

footer p.footer-links a:hover {
    text-decoration: underline;
}

.floating-icon,
.floating-icon button {
    display: none;
}


/* ========= Swiper ========== */

.section-hero .swiper-pagination-bullet-active {
    background: #FFF;
    opacity: 1 !important;
}

.section-hero .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #FFF;
    opacity: .5;
}


/* ========= Owl Video ========== */

.owl-carousel .owl-video-wrapper {
    height: 100vh !important;
    background: #FFF !important;
}

.owl-carousel .owl-video-tn {
    background-size: cover !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.owl-video-frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}